<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="freematica_menu_config"
              name="Freematica"
              parent="finIA_backend.subscription_menu_configuration"
              action="freematica_config_action"
              sequence="50"/>

    <menuitem id="freematica_menu_providers"
              name="Proveedores Freematica"
              parent="finIA_backend.subscription_menu_configuration"
              action="freematica_provider_action"
              sequence="51"/>
</odoo>
